:root {
  --background-color: #fdffdac7;
  --primary-color: #f8f5ce;
  --secondary-color: #272142;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
  font-weight: bold;
}
h1 {
  font-size: 90px;
  line-height: 1.5;
}
h2 {
  font-size: 60px;
}
p {
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
}
.hero {
  background-image: url("/images/header-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  background-color: var(--background-color);
  color: var(--primary-color);
  width: 1440;
  height: 500px;
  margin-top: 55px;
}
.hero h2 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 700;
  padding-top: 35px;
}
.hero h1 {
  font-size: 72px;
  font-family: var(--secondary-font);
}
.hero p {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: lighter;
  line-height: 1;
}

.about-hero h1 {
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}
.about-hero h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}
.about-hero p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  text-align: left;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.about-info {
  margin: 15px;
}

.btn-theme {
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--secondary-color);
  background: var(--primary-color);
  font-size: 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  padding: 18px 40px;
  margin-top: 30px;
  line-height: 24px;
}
.btn-theme-reverse {
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--primary-color);
  background: var(--secondary-color);
  font-size: 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  padding: 18px 40px;
  margin-top: 30px;
  line-height: 24px;
}
.btn-theme:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-theme-reverse:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.featured {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 18px;
  }
  .hero p {
    font-size: 14px;
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    font-weight: 500;
  }
  .about-hero h1 {
    font-size: 38px;
  }
  .about-hero p {
    font-size: 14px;
  }

  .hero {
    background-image: url("/images/header-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin-top: 55px;
  }
  .featured {
    text-align: center;
  }
}
